# Lesson 6: Data in Python

There are different types of data in Python. Here, you will see how text and numbers are used in Python.

## Strings

Strings are used to store and manipulate text. As you see here, strings are written inside of quotes and can contain letters, numbers, punctuation marks, and other special characters. Run the following cells to print these four different strings.

In [1]:
print("Hello, World")

Hello, World

In [2]:
print("My favorite drink is Earl Grey tea.")

My favorite drink is Earl Grey tea.

In [3]:
print("¯\_(ツ)_/¯")

¯\_(ツ)_/¯

In [15]:
type(2)

int

## Multiline strings

If you use triple quotation marks, you can store a multiline string. These strings can span more than one line. When you run the following cell, you will see how the spaces in the second line are actually read as characters for the string.

In [10]:
"""Hello, World!
       It's great to be here!"""

"Hello, World!\n       It's great to be here!"

In [12]:
print("""Hello, World!
       It's great to be here!""")

Hello, World!
       It's great to be here!

Trying to define a multiline string using single quotes will lead to errors.

In [3]:
print('''Hello, World!
      It's "great" to be here!''')

Hello, World!
      It's "great" to be here!

## The type() function

In Python, you can check the type of any data that you are using. To check the data type, you can use the `type()` function. When you run the next cell, you will retrieve the type for the string `"Andrew"`.

In [16]:
type("Andrew")

str

Python returned `str`, which is short for string. Let's check the type for a multiline string:

In [17]:
type("""
Numbers, text, and truth,
Strings, ints, and floats in our code,
Data shapes our path
""")

str

This also returns `str`, since it is also a string. Let's try a number within quotation marks:

In [18]:
type("2.99")

str

This is also a string, even though it looks like a number. By using quotation marks you're telling Python to treat it as text, rather than a number. What about a number without quotes?

In [21]:
type(-100)

int

This time you get `int`, which is short for integer. Integers are the positive and negative whole numbers, like 42, 100, -9, and 0. Since there are no quotes around the number Python assumes this is numerical data, and since there is no decimal place on this number, it interprets it as an integer. Now, let's try a number that does have decimal places:

In [20]:
type(2.99)

float

The function type gives `float`, which is the data type used to store floating point numbers. Floating point numbers are positive and negative numbers that include a decimal place, like 3.14, 2.99, and -0.003.

## Python as a calculator!

Python works great for quick arithmetic operations. For instance, if you had a lemonade stand, and wanted to compute the total number of sales you made through the last 12 months, you can use Python like this:

In [24]:
print(28-35*43+50/65+70+68+66+75+80+95)

-1022.2307692307693

In [ ]:
# prompt: print(28-35*43+50/65+70+68+66+75+80+95) with comments on every step

# First step: Multiplication
print(28 - 35 * 43 + 50 / 65 + 70 + 68 + 66 + 75 + 80 + 95)
# Second step: Division
print(28 - 35 * 43 + 50 / 65 + 70 + 68 + 66 + 75 + 80 + 95)
# Third step: Multiplication
print(28 - 35 * 43 + 50 / 65 + 70 + 68 + 66 + 75 + 80 + 95)
# Fourth step: Addition and subtraction from left to right
print(28 - 35 * 43 + 50 / 65 + 70 + 68 + 66 + 75 + 80 + 95)

As another example, you can perform more advanced math, like computing the compound interest after 10 years at a rate of 5%. To do that, you can compute 1.05 to the power of 10. Not sure how to do it in Python? You can use the Chatbot!

<p style="background-color:#F5C780; padding:15px"> 🤖 <b>Use the Chatbot</b>: How do I compute 1.05 to the power of 10?
</p>

In [23]:
print("Complete with chatbot code")

Complete with chatbot code

In [26]:
# prompt: compute the compound interest after 10 years at a rate of 5% and explain like i am 5

# To find out how much your money grows with compound interest, it's like magic!
# Imagine you have $100 and it grows by 5% every year.
# This means each year, you get a little extra!

# First year: $100 + ($100 * 5%) = $105
# Second year: $105 + ($105 * 5%) = $110.25
# And so on...

# To calculate this in Python, we use a special thing called "exponent"
# It's like a shortcut for multiplying a number by itself many times.

# Here's how to calculate the compound interest after 10 years at a rate of 5%:
principal = 100  # This is the starting amount of money
rate = 0.05  # This is the interest rate (5% = 0.05)
time = 10  # This is the number of years

# Now, let's use the magic of exponents!
amount = principal * (1 + rate)**time

# This is the final amount after 10 years:
print(amount)

162.8894626777442

### Order of operations

The order of operations in Python is the same as in arithmetic. First, you compute parentheses, then exponents, then you multiply and divide (from left to right), and finally, you add and subtract (from left to right).

So, if you are trying to convert from Fahrenheit to Celsius, the following cell will give you an incorrect answer:

In [29]:
print(75 - 5 / 9 * 32)

57.22222222222222

In [30]:
# prompt: print(75 - 5 / 9 * 32) using bodmas rule conclude every step

# Step 1: Division
print(75 - 5 / 9 * 32)
# Step 2: Multiplication
print(75 - 5 / 9 * 32)
# Step 3: Subtraction
print(75 - 5 / 9 * 32)

57.22222222222222
57.22222222222222
57.22222222222222

Whereas the computation in this cell is correct.

In [28]:
print((75 - 32) * 5 / 9)

23.88888888888889

### Try for yourself!
Try printing text with mixed numbers and letters, or just symbols, then check the type. Try multiline strings using the triple quotes. If you make any mistakes, as the chatbot for help.

In [32]:
print("usama")

usama

In [33]:
type(15)

int

Fix the errors in the following code cells.

In [31]:
# Fix the error in the following code
print("There are 366 days in a leap year")

There are 366 days in a leap year

In [34]:
# Fix the error in the following code
print("""There are 366
days in a leap year""")

There are 366
days in a leap year

A foot was defined as exactly 0.3048 meters in 1959. Convert 6 feet to meters.

In [37]:
# Write code to convert 6 feet to meters
print("Convert 6 feet to meters")
print(0.3048*6)

Convert 6 feet to meters
1.8288000000000002

In [35]:
# prompt: Write code to convert 6 feet to meters

feet = 6
meters = feet * 0.3048
print(meters)

1.8288000000000002